*{
    padding: 0px;
    margin: 10px;
}

.between{
    text-align: center;
}

.text_color{
color: #4c8fcc;
}

.number{
    background-color: #897ac2;
    color: #e8e2e2;
    padding: 5px;
    width: 100px;
    height: 35px;
    margin: 0 auto;
}

button{
    border: none;
    color: #ffffff;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    background-color: black;
}

